<a href="https://colab.research.google.com/github/DerinOgrenme2021/GizemUnal/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
pd.__version__

'1.1.5'

In [4]:
names=pd.Series(["Semih","Ali","Veli"])
print(names)

0    Semih
1      Ali
2     Veli
dtype: object

In [5]:
ages=pd.Series([23,45,30])
print(ages)

0    23
1    45
2    30
dtype: int64

In [6]:
df=pd.DataFrame({"Name":names,"age":ages})
print(df)

    Name  age
0  Semih   23
1    Ali   45
2   Veli   30